<body>
<div class="header-head" th:fragment="header" >

<div class="sidebar">
    <a href="#">통계 <span class="arrow-icon">▶</span></a>
    <a href="#">이벤트 관리 <span class="arrow-icon">▶</span></a>
    <a href="#">사용자 관리 <span class="arrow-icon">▶</span></a>
    <a href="#">신고 내역 <span class="arrow-icon">▶</span></a>
    <a href="#">관리자 목록 <span class="arrow-icon">▶</span></a>
    <a href="#">로그 관리 <span class="arrow-icon">▶</span></a>
    <a href="#">게시판 관리 <span class="arrow-icon">▶</span></a>
    <a href="#">공지사항 <span class="arrow-icon">▶</span></a>

</div>
</div>
</body>
