
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.title {
    font-size: 14px;
    position: relative;
    text-align: left;
}
.notice-detail {
    font-weight: bold;
    margin-left: 15px;
}
.container {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    margin-top: 5px;
    font-size: 12px;

}
.container h2 {
    margin-top: 0;
}
.title-label{
    font-size: 18px;
    font-weight: bold;
}
.day{
    color: #a1a1a1;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group textarea {
    resize: vertical;
}
.form-group select {
    width: 35%;
    padding: 6px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
}
.buttons .edit {
    background-color: #333;
    color: white;
    margin-left: 15px;
}
.buttons .cancel {
    background-color: #d9534f;
    color: white;
}