<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세 채팅</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
<div class="container">
<div class="con">
    <div class="header">
        <div class="nickname">대화 상대 닉네임 : 하하하하하</div>
        <a href="#" class="button">상대 정보 보기</a>
    </div>
    <div class="chat-box">
        <div class="chat-message" th:each="message : ${messages}">
            <span class="nickname">유저 닉네임 [[${message.userId}]]:</span>
            <span class="text">[[${message.messageContent}]]</span><br>
        </div>
    </div>
</div>
</div>
</body>
</html>