body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    right: -50px;
}

.page-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #27258a;
    padding-bottom: 10px;
    display: inline-block;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 2px;
    resize: none;
    background-color:  #f8f9fa;
}

.button-group {
    text-align: right;
    margin-top: 20px;
}

button.confirm {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button.confirm:hover {
    background-color: #575757;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
        right: 0;
    }
}
