body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 1000px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.button-group {
    text-align: right;
}
button {
    width: 10%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.button-group :hover {
    background-color: #575757;
    cursor: pointer;
}
.status-buttons button {
    color: #fff;
    border: none;
    border-radius: 0px;
    padding: 10px;
    font-size: 15px;
}
.status-buttons {
    text-align: right;
    padding-bottom: 5px;
}
.status-buttons #status {
    background-color: #333;
    cursor: pointer;
}
.status-buttons #status:hover {
    background-color: #575757;
}
.status-buttons #in-progress {
    background-color: #d2cdcd;
}
.status-buttons #in-progress::after {
    content: ' \25BD';
    color: #007bff;
}