<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 리스트</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu/manager/list.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" >


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="/js/header.js"></script>
    <script>
        $(document).ready(function() {
            let pageFrm = $("#pageFrm");
            $(".paginate_button a").on("click", function(e) {
                e.preventDefault();
                let page = $(this).attr("href").split('=')[1]; // 페이지 번호 추출
                pageFrm.find("#page").val(page);
                pageFrm.submit();
            });
        });
        function modifyModal(id){
            console.log(id);
            $("#modalTitle").text("수정");
            $("#modalBody").text("수정 하시겠습니까?");
            $("#confirmButton").attr("href", '/controller/menu/manager/modify?id='+id);
            $("#checkModal").modal("show");
        }
        function deleteModal(id){
            $("#modalTitle").text("삭제");
            $("#modalBody").text("삭제 하시겠습니까?");
            $("#confirmButton").attr("onclick", "deleteAdmin()");
            $("#checkModal").modal("show");
        }
        function deleteAdmin(){
            let id = $("#adminId").text();
            console.log(id);
            $.ajax({
                url:"deleteProc/"+id,
                type:"delete",
                success:function (result){
                    if(result){
                        $("#resultTitle").text("삭제 성공");
                        $("#resultBody").text("삭제 되었습니다.");
                        $("#modalResult").modal("show");
                        $('#reloadBTN').attr('onclick', 'window.location.reload()');
                    }else {
                        $("#resultTitle").text("삭제 실패");
                        $("#resultBody").text("삭제 실패하였습니다.");
                        $("#modalResult").modal("show");
                        $('#reloadBTN').attr('onclick', 'window.location.reload()');
                    }
                },
            })
        }

    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
<div class="con">
    <div class="button-container" style="justify-content: flex-end;">
        <a th:href="@{/menu/manager/register}" class="button register">추가</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>사번</th>
            <th>생성일자</th>
            <th>등급</th>
            <th class="remark-column">수정/삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="admin : ${admins}">
            <td id="adminId" th:text="${admin.id}">2</td>
            <td th:text="${admin.name}">2</td>
            <td th:text="${admin.employee_number}">2</td>
            <td th:text="${admin.created_at}">2</td>
            <td th:text="${admin.admin_level}">2</td>
            <td class="remark-column">
                <div class="button-container">
                    <button type="button" th:onclick="modifyModal('[(${admin.id})]')" class="button update">수정</button>
                    <button type="button" th:onclick="deleteModal('[[${admin.id}]]')" class="button delete">삭제</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="search-bar-container">
        <div class="search-bar">
            <form class="form-inline" th:action="@{/menu/manager/list}" th:object="${criteria}" method="get">
                <select title="type" th:field="*{type}">
                    <option value="id" th:selected="${criteria.type == 'id'}">아이디</option>
                    <option value="name" th:selected="${criteria.type == 'name'}">이름</option>
                    <option value="created_at" th:selected="${criteria.type == 'created_at'}">일자</option>
                </select>
                <input title="keyword" type="text" th:field="*{keyword}" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>

    <!-- 페이지네이션 -->
    <ul class="pagination">
        <!-- 이전처리 -->
        <li class="paginate_button previous" th:if="${pageCre.prev}">
            <a class="page-link" th:href="@{/menu/manager/list(page=${pageCre.startPage - 1})}">&laquo; Previous</a>
        </li>
        <!-- 페이지번호 처리 -->
        <li class="paginate_button" th:each="pageNum : ${#numbers.sequence(pageCre.startPage, pageCre.endPage)}"
            th:classappend="${pageCre.criteria.current_page == pageNum} ? 'active'">
            <a class="page-link" th:href="@{/menu/manager/list(page=${pageNum})}" th:text="${pageNum}">1</a>
        </li>
        <!-- 다음처리 -->
        <li class="paginate_button next" th:if="${pageCre.next}">
            <a class="page-link" th:href="@{/menu/manager/list(page=${pageCre.endPage + 1})}">Next &raquo;</a>
        </li>
    </ul>

    <form id="pageFrm" th:action="@{/menu/manager/list}" method="get">
        <!-- 게시물 번호(idx) 추가 -->
        <input type="hidden" id="page" name="current_page" th:value="${pageCre.criteria.current_page}" />
        <input type="hidden" name="perPageNum" th:value="${pageCre.criteria.perPageNum}" />
        <input type="hidden" name="type" th:value="${pageCre.criteria.type}" />
        <input type="hidden" name="keyword" th:value="${pageCre.criteria.keyword}" />
    </form>
</div>
</div>

<div class="modal" id="checkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
            </div>
            <div class="modal-body" id="modalBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="confirmButton">확인</a>
                <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalResult" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultTitle"></h5>
            </div>
            <div class="modal-body">
                <p id="resultBody"></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="reloadBTN" class="btn btn-primary">확인</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
