<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 리스트</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">

</head>
<body>
<div th:replace="fragments/header :: headerfragment"></div>
<div class="container">
<div class="con">
  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>아이디</th>
      <th>닉네임</th>
      <th>신고횟수</th>
      <th>제목</th>
      <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${리스트}">
      <td th:text="${item}">2</td>
      <td th:text="${item}">
        <a href="#">2</a>
      </td>
      <td th:text="${item}">2</td>
      <td th:text="${item}">2</td>
      <td th:text="${item}">
        <a href="#">제목</a>
      </td>
      <td th:text="${item}">2</td>
    </tr>
    </tbody>
  </table>

  <div class="search-bar-container">
    <div class="search-bar">
      <select>
        <option value="아이디">아이디</option>
        <option value="닉네임">닉네임</option>
        <option value="성별">성별</option>
      </select>
      <input type="text" placeholder="검색어를 입력하세요">
      <button>검색</button>
    </div>
  </div>

  <div class="pagination">
    <a href="#">&laquo; Previous</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">Next &raquo;</a>
  </div>
</div>
</div>
</body>
</html>
