body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.con {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 600px;
    margin: 30px auto;
}
.section {
    margin-bottom: 15px;
}
.section-title {
    font-size: 1.1em;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.section-content div {
    flex: 1 1 45%;
    margin-bottom: 8px;
}
.profile-picture {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 8px;
}
.button {
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
    border: 0;
}
.button:hover {
    background-color: #0056b3;
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input.point_modify{
    color: #838080;
}
#userListTap{
    font-weight: bolder;
    background-color: #575757;
}
@media (max-width: 768px) {
    .section-content div {
        flex: 1 1 100%;
    }
}