<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지 추가</title>
    <link th:style="stylesheet" th:href="css/board/notice/add.css">div>
</head>
<body>
<div class="head">
    <div class="notice-update">
        <label for="notice">공지 추가</label>
    </div>
    <div class="container">
        <div class="form-group">
            <h1>아이디</h1>
            <label for="writer_id" class="writer_id" th:text="${board.writer_id}"></label>
        </div>
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" th:text="${board.title}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" rows="3" th:text="${board.content}"></textarea>
        </div>
        <div class="buttons">
            <button class="edit">수정</button>
            <button class="cancel">취소</button>
        </div>
    </div>
</div>
</body>
</html>
