<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지 보기</title>
  <link th:style="stylesheet" th:href="css/board/notice/detail.css">div>
</head>
<body>
<div class="head">
  <div class="notice-detail">
    <label for="notice">공지 보기</label>
  </div>
  <div class="container">
    <div class="form-group">
      <h1>제목</h1>
      <label for="title" class="title" th:text="${board.title}"></label>
    </div>
    <div class="form-group">
      <label for="writer_id">아이디 (닉네임)</label>
      <input type="text" id="writer_id" th:value="${board.writer_id}" readonly>
    </div>
    <div class="form-group">
      <label for="create_at">작성날짜</label>
      <input type="text" id="create_at" th:value="${#temporals.format(board.created_at, 'yyyy-MM-dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group">
      <label for="content">내용</label>
      <textarea id="content" rows="3" th:text="${board.content}" readonly></textarea>
    </div>
    <div class="buttons">
      <button class="edit">수정</button>
      <button class="cancel">취소</button>
    </div>
  </div>
</div>
</body>
</html>
