<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상세 채팅</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/menu/user/chat/detail.css}">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<!--<div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>-->
<div class="container">
    <div class="con">
        <div class="header">
            <div class="nickname" th:text="'대화 상대 닉네임: ' + ${user.nickname}">대화 상대 닉네임: 하하하하하</div>
            <a th:href="@{/menu/user/userDetail(user_id=${user.user_id})}" class="button">상대 정보 보기</a>
        </div>
        <div class="chat-box">
            <div th:each="message : ${messages}">
                <div th:if="${message.user_id == user.user_id}" class="chat-message sender">
                    <span class="nickname" th:text="'송신자: ' + ${message.nickname}"></span>
                    <span class="timestamp" th:text="${message.created_at}"></span><br>
                    <span class="text" th:text="${message.message_content}"></span>
                </div>
                <div th:if="${message.user_id != user.user_id}" class="chat-message receiver">
                    <span class="nickname" th:text="'수신자: ' + ${message.nickname}"></span>
                    <span class="timestamp" th:text="${message.created_at}"></span><br>
                    <span class="text" th:text="${message.message_content}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
