<header class="header-head" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="header-logo">
        블라인드 타임
    </div>
    <div class="header-right" >
        <span sec:authentication="name"></span>님 환영합니다
        &nbsp;&nbsp;<a class="header-a-tag" href="/controller/auth/logout">Logout</a>&nbsp;&nbsp;
        <a class="header-a-tag" href="javascript:modifyMyModal()" >비밀번호수정</a>
    </div>

    <script th:inline="javascript">

        let authenticatedUserId ="";
        function modifyMyModal(){
            authenticatedUserId = /*[[${#authentication.name}]]*/ 'guest';
            $("#myId").val(authenticatedUserId);
            $('#headerModal').modal('show');
        }


        function goAdminModify(e){
            let myId=$("#myId").val();
            myPassCheck(e);
        }

        function myPassCheck(e){
            console.log(e.type);
            console.log(e.keyCode);
            if(e.keyCode === 13 || e.type === 'click'){
                let myId = $("#myId").val();
                let myPass = $("#myPass").val();
                // console.log(myPass);
                $.ajax({
                    url:"/controller/menu/manager/myPassCheck/"+myId,
                    type:"POST",
                    success:function (result){
                        if(result === myPass){
                            window.location.href="/controller/menu/manager/modify?id="+myId;
                        }else {
                            $("#myPassValidation").text("비밀번호 확인해 주세요");
                            $("#myPassValidation").css("color","red");
                        }
                    }
                })
            }

        }

    </script>

</header>