<div class="modal" id="headerModal" tabindex="-1" th:fragment="modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="headerModalTitle">내 정보수정</h5>
      </div>
      <div class="modal-body">
        <span id="modalBodyId">아이디</span><br>
        <input title="myId" name="id" type="text" id="myId" readonly>
        <br><br>
        <span id="modalBodyPass">비밀번호</span><br>
        <input title="myPass" type="password" id="myPass" name="pass" onkeyup="myPassCheck(event)"><br>
        <span id="myPassValidation"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="goAdminModify(event)">확인</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>