<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관리자 로그 페이지</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/menu/Log/list.css}">


  <script>
     function logDetail(){
        let logDetail = document.getElementById('logDetail');
        logDetail.style.visibility='visible';
     }
  </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

  <!-- 관리자 로그 테이블 (왼쪽) -->
  <div class="table-container-left">
    <h2>관리자 로그</h2>
    <table>
      <thead>
      <tr>
        <th class="listCol1">날짜</th>
        <th class="listCol2">세부정보</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2025-02-04</td>
        <td><button class="logDetailButton" id="logDetailButton" onclick="logDetail()">보기</button></td>
      </tr>
      <!-- 더 많은 행 추가 -->
      </tbody>
    </table>
    <div class="pagination">
      <a href="#">&laquo; 이전</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">다음 &raquo;</a>
    </div>
  </div>

  <!-- 세부정보 보기 테이블 (오른쪽) -->
  <div class="table-container-right" id="logDetail" >
    <h2>2025-02-05</h2>
    <table>
      <thead>
      <tr>
        <th class="detailCol1">Timestamp</th>
        <th class="detailCol2">관리자</th>
        <th class="detailCol3">이벤트</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2025-02-05 <br> 14:45:00</td>
        <td>Admin</td>
        <td>페이지이동#230</td>
      </tr>
      <!-- 더 많은 행 추가 -->
      </tbody>
    </table>
    <div class="pagination">
      <a href="#">&laquo; 이전</a>
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">다음 &raquo;</a>
    </div>
  </div>

</div>
</body>
</html>
